body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* usually used in a flex display anyways */
h1, h2, h3, h4 {
  margin: 0;
}

input {
  outline: 0;
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.centered-children, .centered-vertically, .centered-horizontally {
  display: flex;
}

.centered-vertically, .centered-children {
  align-items: center;
}

.centered-horizontally, .centered-children {
  justify-content: center;
}

.gap {
  height: 0.5rem;
}

.break {
  height: 1rem;
}
  
}
