body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

input {
  outline: 0;
}

button {
  cursor: pointer;
}

.centered-children, .centered-vertically, .centered-horizontally {
  display: flex;
}

.centered-vertically, .centered-children {
  align-items: center;
}

.centered-horizontally, .centered-children {
  justify-content: center;
}
